#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 40px 100px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.photographer-profile__name {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}

.photographer-profile__localisation {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.photographer-profile__tagline {
    color: #525252;
    font-size: 18px;
    font-weight: 400;
    margin: 19px 0 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover, .contact_button:focus {
    background-color: #DB8876;
    color: black;
    border: 0px;
}

.photographer-profile__img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
}

.photographer-profile__img img {
    object-fit: cover;
    position: relative;
}


/* Mimi Keel */
.photographer-profile__img--243 {
    height: 300px;
    width: 300px;
    top: -15%;
    left: -20%;
}

/* Ellie-Rose */
.photographer-profile__img--930 {
    height: 350px;
    width: 350px;
    top: -20%;
    left: -35%;
}

/* Tracy */
.photographer-profile__img--82 {
    height: 250px;
    width: 250px;
    top: -10%;
}

/* Nabeel */
.photographer-profile__img--527 {
    height: 250px;
    width: 250px;
    left: -10%;
}

/* Rhode */
.photographer-profile__img--925 {
    height: 320px;
    width: 320px;
    left: -30%;
    top: -15%;
}

/* Marcel */
.photographer-profile__img--195 {
    height: 320px;
    width: 320px;
    left: -20%;
    top: -15%;
}


.media-section {
    margin: 20px 100px 0;
    position: relative;
}

.filter-wrapper {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    height: 60px;
    overflow: visible;
    z-index: 2;
}

.filter-button__container {
    display: inline-flex;
    flex-flow: column nowrap;
    margin-left: 25px;
}

.filter-button__container.active {
    background-color: #901C1C;
    border-radius: 5px;
}

.filter-button {
    box-sizing: border-box;
    background-color: #901C1C;
    border-radius: 5px;
    color: white;
    border: none;
    width: 170px;
    height: 60px;
    font-size: 18px;
    padding: 20px;
    position: relative;
    appearance: none;
    display: inline-flex;
    justify-content: space-between;
    cursor: pointer;
}

.filter-button:hover, .filter-button:focus {
    background-color: #DB8876;
    color: black;
    border: none;
}

/* the filter seperator */
.filter-button__container.active .filter-button:not(:first-child):after {
    content: "";
    border-top: 1px solid white;
    width: 150px;
    position: absolute;
    left: 10px;
    top:   0px;
}


/* medias */
.media-container {
    margin: 50px auto 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,  350px);
    justify-content: space-between;
}

.card {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 350px;
    justify-content: space-between;
    align-content: flex-start;
    color: #901C1C;
}

.card h4, .card p {
    font-size: 24px;
    margin: 10px 0 30px;
    height: max-content;
}

.card h4 {
    flex: 1 0 80%;
    font-weight: 400;
    text-wrap: wrap;
}

i.fa-heart {
    margin-left: 5px;
}

.card img, .card video {
    border-radius: 5px;
    width: 350px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}


.photograph-infos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #DB8876;
    width: 376px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 24px;
    font-weight: 600;
    position: fixed;
    bottom: 0px;
    right: 36px;
}


.lightbox {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.lightbox__wrapper {
    margin: auto;
    width: max-content;
    position: relative;
    display: flex;
}

.lightbox__controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
    width: 64px;
}

.lightbox-button {
    color: #901C1C;
    background: none;
    border: none;
    font-size: 64px;
    width: 64px;
    height: 64px;
}

.lightbox__close {
    align-self: flex-start;
    position: absolute;
}

.lightbox__content {
    width: 80vw;
    height: 90vh;
}

.lightbox__content img, .lightbox__content video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.lightbox__title {
    color: #901C1C;
    font-size: 24px;
    margin: 0
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 2% auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal .modal-close {
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    margin: -20px 0 20px;
}

#contact_modal {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(196, 196, 196, 0.40);
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input, form textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    height: 170px;
}