.lightbox {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 3;
  justify-content: center;
  align-items: center;
}

.lightbox__wrapper {
  margin: auto;
  width: max-content;
  position: relative;
  display: flex;
}

.lightbox__controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-items: center;
  width: 64px;
}

.lightbox-button {
  color: #901C1C;
  background: none;
  border: none;
  font-size: 4em;
  width: 64px;
  height: 64px;
}

.lightbox__close {
  align-self: flex-start;
  position: absolute;
}

.lightbox__content {
  width: 80vw;
  height: 90vh;
}

.lightbox__content img, .lightbox__content video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lightbox__title {
  color: #901C1C;
  font-size: 1.5em;
  margin: 0
}
