/* Mimi Keel */
.photographer__img--243 {
  height: 300px;
  width: 300px;
  top: -15%;
  left: -20%;
}

/* Ellie-Rose */
.photographer__img--930 {
  height: 350px;
  width: 350px;
  top: -20%;
  left: -35%;
}

/* Tracy */
.photographer__img--82 {
  height: 250px;
  width: 250px;
  top: -10%;
}

/* Nabeel */
.photographer__img--527 {
  height: 250px;
  width: 250px;
  left: -10%;
}

/* Rhode */
.photographer__img--925 {
  height: 320px;
  width: 320px;
  left: -30%;
  top: -15%;
}

/* Marcel */
.photographer__img--195 {
  height: 320px;
  width: 320px;
  left: -20%;
  top: -15%;
}
